---
title: Khazad-dûm
theme: dark
color: stone
headerStyle: clean
layout:
  Media:
    icon: mdi-filmstrip
  Downloads:
    icon: mdi-download
  Monitoring:
    icon: mdi-chart-line
  Home:
    icon: mdi-home-assistant
  Documents:
    icon: mdi-file-document
