password=
IMAGE="bash /opt/brother/scanner/brscan-skey/script/scantofile.sh"
OCR="bash /opt/brother/scanner/brscan-skey/script/scantofile_doublesided.sh"
EMAIL="bash /opt/brother/scanner/brscan-skey/script/scantofile.sh"
FILE="bash /opt/brother/scanner/brscan-skey/script/scantofile.sh"
SEMID=b
