---
services:
  authelia:
    image: authelia/authelia:{{ authelia_version }}
    container_name: authelia
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ authelia_port }}:9091"
    volumes:
      - ./config:/config:ro
      - ./data:/data
    environment:
      TZ: "{{ timezone }}"
    networks:
      - default
      - auth-internal
    depends_on:
      - authelia-redis

  authelia-redis:
    image: redis:{{ authelia_redis_version }}
    container_name: authelia-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    environment:
      TZ: "{{ timezone }}"

volumes:
  redis-data:

networks:
  auth-internal:
    external: true
