---
users:
{% for user in authelia_users %}
  {{ user.username }}:
    displayname: "{{ user.display_name }}"
    password: "{{ user.password_hash }}"
    email: "{{ user.email }}"
    groups:
{% for group in user.groups %}
      - {{ group }}
{% endfor %}
{% endfor %}
