---
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:{{ sonarr_version }}
    container_name: sonarr
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ sonarr_port }}:8989"
    volumes:
      - "{{ sonarr_data_dir }}/config:/config"
      - "{{ sonarr_media_dir }}:/tv"
      - "{{ sonarr_downloads_dir }}:/downloads"
    environment:
      PUID: "{{ sonarr_uid }}"
      PGID: "{{ sonarr_gid }}"
      TZ: "{{ timezone }}"
    networks:
      - default
      - arr

networks:
  arr:
    name: arr
    external: true
