---
services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:{{ immich_version }}
    container_name: immich-server
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ immich_port }}:2283"
    extra_hosts:
      - "auth.{{ base_domain }}:host-gateway"
    volumes:
      - "{{ immich_photos_dir }}:/usr/src/app/upload"
      - /etc/localtime:/etc/localtime:ro
    environment:
      DB_HOSTNAME: immich-db
      DB_USERNAME: immich
      DB_PASSWORD: "{{ immich_db_password }}"
      DB_DATABASE_NAME: immich
      REDIS_HOSTNAME: immich-redis
      TZ: "{{ timezone }}"
    depends_on:
      - immich-redis
      - immich-db

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:{{ immich_version }}
    container_name: immich-machine-learning
    restart: unless-stopped
    volumes:
      - immich-model-cache:/cache
    environment:
      TZ: "{{ timezone }}"

  immich-redis:
    image: redis:6.2-alpine
    container_name: immich-redis
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1

  immich-db:
    image: tensorchord/pgvecto-rs:pg14-v0.2.0
    container_name: immich-db
    restart: unless-stopped
    volumes:
      - immich-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: immich
      POSTGRES_PASSWORD: "{{ immich_db_password }}"
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: "--data-checksums"

volumes:
  immich-db-data:
  immich-model-cache:
