---
services:
  screentime-collector:
    image: {{ screentime_image_tag }}
    container_name: screentime-collector
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ screentime_port }}:9200"
      - "{{ monitoring_network_gateway }}:{{ screentime_port }}:9200"
    volumes:
      - ./collector.py:/app/collector.py:ro
      - ./config.yml:/app/config.yml:ro
      - {{ screentime_data_dir }}/data:/app/data
    networks:
      - default
      - pihole_default
    environment:
      TZ: "{{ timezone }}"

networks:
  pihole_default:
    external: true
