---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:{{ radarr_version }}
    container_name: radarr
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ radarr_port }}:7878"
    volumes:
      - "{{ radarr_data_dir }}/config:/config"
      - "{{ radarr_media_dir }}:/movies"
      - "{{ radarr_downloads_dir }}:/downloads"
    environment:
      PUID: "{{ radarr_uid }}"
      PGID: "{{ radarr_gid }}"
      TZ: "{{ timezone }}"
    networks:
      - default
      - arr

networks:
  arr:
    name: arr
    external: true
